main{
    margin: 32px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-quiz{
    padding : 12px;
    width: 500px    ;
} 
.question{
    font-family: 'Karla';
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: #293264;
}
.check-answer-btn{
    background: #4D5B9E;
    border-radius: 10px;  
    border : none;
    width: 150px;
    height: 50px;
    margin: 16px;
}
.check-answer-btn > span{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    text-align: center;
    color: #F5F7FB;
}
.answers{
    display: flex;
    margin: 24px 12px;
}
.btn-answer{
    padding: 8px 8px;
    max-width: 250px;
    margin: 0 4px;
    border-radius: 8px;
    cursor: pointer;
}