.App{
    height: 100%;
    width: 100%;
    position: absolute;
}
.start-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    color:#293264
}
.start-component > h1{
    font-family: 'Karla';
    font-weight: 700;
    font-size: 40px;
    line-height: 37px;
}
.start-component > h4{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    margin: 0;
}
.start-component > button{
    margin-top: 24px;
    background: #4D5B9E;
    border-radius: 15px;
    width: 193px;
    height: 52px;
    border: none;
}

.start-component > button > span{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
    text-transform: uppercase;
}